
* {
    padding: 0;
    margin: 0;
}
body, html {
    max-width: 100vw; /* Ancho máximo igual al ancho de la ventana de visualización */
    max-height: 100vh; /* Altura máxima igual a la altura de la ventana de visualización */
    overflow: hidden; /* Oculta y deshabilita el desbordamiento (scroll) */
    position: fixed; /* Fija el cuerpo y el html para evitar el desplazamiento */
    width: 100%; /* Establece el ancho al 100% de la ventana de visualización */
    height: 100%; /* Establece la altura al 100% de la ventana de visualización */
}
body{
    background: #584040;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.contenedor-botones {
    position: fixed; /* O absolute, dependiendo de cómo esté estructurado tu HTML */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
}

#botonReinicio {
    display: inline-block; /* Para asegurarnos de que el botón no ocupe todo el ancho */
    margin: 10px; /* Elimina cualquier margen por defecto */
    padding: 10px;
    /* Agrega aquí más estilos para tu botón si lo necesitas */
    font-family: Verdana;
    font-size: 15px;
    font-weight:bolder;
    border-radius: 4px;
    margin-top: 30px;
    background-color: rgb(179, 55, 55);
    color: white;
    
}
#botonReinicio:hover{
    background-color: rgb(196, 26, 26);
    box-shadow:2px 2px 6px rgba(0, 0, 0, 0.5); ;
}
.oculto {
    display: none;
}
.high-score{
    width: 100px;
    height: 30px;

    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}
.contenedor {
    width: 90%;
    height: 80vh;
    margin:  auto;
    
    position: relative;

    background: linear-gradient(#c5ecd9, transparent) #f7ba97;/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #fdc3e9;
}

.tarde {
    background-color: #f57e7e;
}

.noche {
    background-color: #595577;
}

.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(suelo.jfif) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.cactus{
    width: 46px;
    height: 106px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(cactus1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 80px;

    background: url(cactus2.png) no-repeat;
}
 
.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(nube_mejprada-removebg-preview.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #ff0000;
    z-index: 5;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
    margin-bottom: 70px;
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}
.game-over-controls {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; /* Asegúrate de que estén por encima de otros elementos */
  }
  
  .game-over-controls button {
    background-color: #d48871;
    color: white;
    padding: 8px 10px;
    margin: 5px;
    font-size: 1.5em;
    border-radius: 5px;
    /* Otros estilos según tus preferencias */
  }
  #btnRestart{
    background-color: rgb(255, 145, 0);
  }
  #btnBack{
    background-color: rgb(163, 211, 108);

  }
  @media screen and (min-width: 600px) {
    .contenedor {
      width: 95%;
      height: 90vh;
    }
    .game-over-controls {
      position: fixed;
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centrado horizontal y vertical */
      z-index: 100; /* Asegúrate de que estén por encima de otros elementos */
      display: flex; /* Usa flexbox para alinear los elementos internos */
      flex-direction: row; /* Alinea los elementos en una fila */
      justify-content: center; /* Centra los elementos en el eje principal (horizontal) */
      align-items: center; /* Centra los elementos en el eje transversal (vertical) */
    }
    
    .game-over-controls button {
      margin: 0 5px; /* Añade un poco de margen entre los botones */
      padding: 10px 20px; /* Añade un poco más de espacio interior para facilitar la interacción */
      /* Otros estilos de botón... */
    }
  }
  /* Media query para pantallas más pequeñas, por ejemplo, dispositivos móviles */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; /* Cambiar a una disposición de columna */
    }
    
    .high-score-text {
        margin-top: 20px; /* Añadir espacio entre el puntaje máximo y los botones */
    }
    
    .game-over-controls {
        margin-top: 20px; /* Añadir espacio entre los botones de reinicio y regreso */
    }
}